{% extends 'dashboard/dash-base.html' %}
{% load static %}

{% block url %}<a href="{% url 'dashboard:categorie-list'%}"><button class="btn btn-primary">All Categories</button></a><br>{% endblock url %}
{% block type %}Categories {% endblock type %}
{% block title %}Categories Create {% endblock title %}

{% block active %}nav-link text-white{% endblock active %}
{% block categorie %}nav-link active{% endblock categorie %}
{% block dash %}


<h3>{{categorie.name}}</h3>
<div class="row row-cols-1  row-cols-md-4 g-4" style="margin-left: 10px;">

  {% for p in items %}

  <div class="col" style="border-radius: 50px;">
    <div class="card h-100 " style="width: 25em;">
      <img src="{{ p.product_image.url}}" class="card-img-top h-100 w-100" >
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5> ${{p.price}}
        <p class="card-text">{{p.description}}</p>

        <a href="{% url 'shop:product-detail' p.id %}"><button class="btn btn-primary">view</button></a>
        <a href="{% url 'dashboard:product-update' p.id %}"><button class="btn btn-secondary">update</button></a>
        <a href="{% url 'dashboard:product-delete' p.id %}"><button class="btn btn-danger">delete</button></a>

      </div>

    </div>
  </div>

  {% endfor %}

</div>



{% endblock dash %}

