{% extends 'shop_home.html' %}
{% load static %}

{% block content %}



{% for c in categories %}

    {{c.name}}
    <a href="{% url 'shop:categorie-detail' c.pk%}"> view</a>

    <br>
{% endfor %}
<div class="row row-cols-1  row-cols-md-4 g-4" style="margin-left: 10px;">

  {% for p in products %}

  <div class="col">
    <div class="card h-100 " style="width: 25em; border-radius: 20px;">
      <img src="{{ p.product_image.url}}" class="card-img-top h-100 w-100" style="border-radius: 20px;" >
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <a href="{% url 'shop:product-detail' p.id %}"><button class="btn btn-primary">view</button></a>
        <button data-product="{{p.id}}" data-action="add" class="update-cart btn btn-secondary">add to cart</button>

      </div>

    </div>
  </div>

  {% endfor %}

</div>



  



<script>
  const user = '{{request.user}}'	
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
<script src="{% static 'products/js/cart.js' %}"></script>

{% endblock content %}

