{% extends 'shop_home.html' %}
{% load static %}



{% block content %}
<!-- product section -->
<section class="product_section layout_padding">
  
  <div class="container">
     <div class="heading_container heading_center">
        <h2>
           Our <span>products</span>
        </h2>
     </div>
     <form action="" method="get" style="margin-top: 20px;">
      {{productFilter.form}}
      <button type="submit">search</button>
    </form>
     <div class="row">
      {% for p in products %}
        <div class="col-sm-6 col-md-4 col-lg-4">
           <div class="box">
              <div class="option_container">
                 <div class="options">
                    <a href="" class="option1">
                      <button data-product="{{p.id}}" data-action="add" class="update-cart btn ">add to cart</button>

                    </a>
                    <a href="{% url 'shop:product-detail' p.id %}" class="option2">
                    View
                    </a>
                 </div>
              </div>
              <div class="img-box">
                 <img src="{{ p.product_image.url}}" alt="">
              </div>
              <div class="detail-box">
                 <h5>
                  {{p.name}}
                 </h5>
                 <h6>
                    ${{p.price}}
                 </h6>
              </div>
           </div>
        </div>
        {% endfor %}

     </div>
  </div>
</section>
<!-- end product section -->


<script>
  const user = '{{request.user}}'	
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
<script src="{% static 'products/js/cart.js' %}"></script>

{% endblock content %}

