{% extends 'account/home_page.html' %}
{% load static %}

{% block content %}



    {{orders.name}}
    {{orders.total_price}}

    <a href="{% url 'shop:order-delete' orders.pk%}"> delete</a>
    <a href="{% url 'shop:order-update' orders.pk%}"> update</a>
    
    <a href="{% url 'shop:order-invoice' orders.id  %}">pdf</a>

    
    {% for i in items %}
    f
        {{i.name}}
        {{i.quantity}}
        
    {% endfor %}

    <br>

<a href="{% url 'shop:order-list'%}">back</a>

{% endblock content %}

