{% extends 'shop_home.html' %}

{% block content %}
<section class="h-100" >
    <div class="container h-100" style="width: 600px; margin-top: 100px;  border-radius: 15px; padding: 30px; background-color: rgb(245, 244, 244);">
        <h1>Reset your password</h1><br>
        <form method="POST">
            {% csrf_token %} 
            
            <input class="form-control"  type="email" name="email" autocomplete="email" maxlength="254"><br>
           
            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button><br><br>
            <a href="{% url 'login' %}">Already have an account?</a>

          </form>
          
    </div>
</section>


{% endblock content %}
