{% extends 'shop_home.html'%}


{% block signup %}
<section class="h-100" >
    <div class="container h-100" style="width: 600px; margin-top: 100px;  border-radius: 15px; padding: 30px; background-color: rgb(245, 244, 244);">
        <h1>Sign up</h1>
        <form method="POST" action=".">
            {% csrf_token %} 

            <div class="form-group">
                <label>username</label>
                <input type="text" name="username" class="form-control"  placeholder="Enter username">
            </div>
              
            <div class="form-group">
                <label >first name</label>
                <input type="text" name="first_name" class="form-control"  placeholder="Enter first name">
            </div>

            <div class="form-group">
                <label >last name</label>
                <input type="text" name="last_name" class="form-control"  placeholder="Enter last name">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Repeat Password</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Submit</button>

          </form>
          

    </div>
</section>

{% endblock signup %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Sign up</h1>

        <form method="post" action="." class="space-y-3">
            {% csrf_token %}

            <div>
                <label>Username</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
            
            <div>
                <label>First name</label>
                <input type="text" name="first_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label>Last name</label>
                <input type="text" name="last_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" name="email" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label>Repeat pasword</label>
                <input type="password" name="password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <div>
                <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Submit</button>
            </div>
        </form>
    </div>
</div>