{% extends 'dashboard/dash-base.html' %}

{% block url %}<a href="{% url 'dashboard:product-list'%}"><button class="btn btn-primary">Products</button></a><br>{% endblock url %}
{% block type %}Products Create{% endblock type %}
{% block title %}Products Create {% endblock title %}
{% block dash %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button > Submit </button>
    </form>
    <a href="{% url 'dashboard:categorie-create' %}"> Add Categorie </a>
    <a href="{% url 'shop:categorie-list' %}"> Categories </a>


{% endblock dash %}
