{% extends 'dashboard/dash-base.html' %}
{% load static %}

##########
{% block url %}<a href="{% url 'dashboard:product-create'%}"><button class="btn btn-primary">Create New Product</button></a><br>{% endblock url %}
{% block type %}Products {% endblock type %}
{% block title %}Products {% endblock title %}
##########
{% block dash %}


<a href="{% url 'dashboard:export-csv'%}"><button class="btn btn-primary">export Csv</button></a>

<div class="row ">

  {% for p in products %}

  <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" style="border-radius: 50px;">
    <div class="card h-100 " style="width: 28em; ">
      <img src="{{ p.product_image.url}}" class="card-img-top h-100 w-100" >
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5> ${{p.price}}
        <p class="card-text">{{p.description}}</p>

        <a href="{% url 'shop:product-detail' p.id %}"><button class="btn btn-primary">view</button></a>
        <a href="{% url 'dashboard:product-update' p.id %}"><button class="btn btn-secondary">update</button></a>
        <a href="{% url 'dashboard:product-delete' p.id %}"><button class="btn btn-danger">delete</button></a>

      </div>

    </div>
  </div>

  {% endfor %}

</div>



{% endblock dash %}

