{% extends 'dashboard/dash-base.html' %}
{% load static %}

{% block active %}nav-link text-white{% endblock active %}
{% block customer %}nav-link active{% endblock customer %}

{% block dash %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Customer Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    
  </div>
</div>



<h3 class="h2">{{customer.name}} Orders</h3>

  <section class="ml-5">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Confirmed</th>
            <th>Price</th>
            <th>Actions</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for o in orders %}

                <tr>
            <td>
            <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                <p class="fw-bold mb-1">{{o.name}}</p>
                <p class="text-muted mb-0"></p>
                </div>
            </div>
            </td>
            <td>
            <a href="{% url 'dashboard:customer-detail' o.user.id %}">
                <p class="fw-normal mb-1 ">{{o.user.username}}</p>
                <p class="text-muted mb-0">IT department</p>
            </a>
            </td>
            {% if o.is_confirmed %}
            <td>
                <span class="badge rounded-pill bg-success">{{o.is_confirmed}}</span>
            </td>
            {% else %}
            <td>
                <span class="badge rounded-pill bg-warning">{{o.is_confirmed}}</span>
            </td>
            {% endif %}
            <td>$ {{o.total_price}}</td>
            <td>
            <a href="{% url 'dashboard:order-detail' o.pk %}">
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                    view
                </button>
            </a>

            </td>
            <td>
                <a href=""><button class="btn btn-primary">Update</button></a>
            </td>
            <td>
                <a href=""><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
  </section>




  




{% endblock dash %}

