{% extends 'dashboard/dash-base.html' %}
{% load static %}


{% block url %}<a href="{% url 'dashboard:product-create'%}"><button class="btn btn-primary">Create New Customer</button></a><br>{% endblock url %}
{% block type %}Customers {% endblock type %}
{% block title %}Customers {% endblock title %}



{% block dash %}


<section class="ml-5">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Position</th>
            <th>Actions</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for c in customers %}
                <tr>
            <td>
            <div class="d-flex align-items-center">
                <img
                    src="{{ c.more.image.url }}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                <p class="fw-bold mb-1">{{c.first_name}}</p>
                <p class="text-muted mb-0"></p>

                </div>
            </div>
            </td>
            <td>
            <p class="fw-bold mb-1">{{c.email}}</p>
            </td>
            {% if c.is_staff and c.type == c.Types.CUSTOMER%}
            <td>
                <span class="badge rounded-pill bg-success">Admin + Customer</span>
            </td>
            {% elif c.type == c.Types.CUSTOMER %}
            <td>
                <span class="badge rounded-pill bg-success">Customer</span>
            </td>
            
            {% endif %}
            <td>Senior</td>
            <td>
            <a href="{% url 'dashboard:customer-detail' c.pk %}">
                <button type="button" class="btn btn-primary btn-sm btn-rounded">
                    view
                </button>
            </a>

            </td>
            <td>
                <a href="{% url 'dashboard:customer-update' c.pk %}"><button class="btn btn-outline-primary">Update</button></a>
            </td>
            <td>
                <a href="{% url 'dashboard:customer-delete' c.pk %}"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
  </section>




{% endblock dash %}

