<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}  </title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        body{
            background-color:#eee;
        }

        .nav-link:hover{
            background-color:#525252 !important;
        }

        .nav-link .fa{
            transition:all 1s;
        }

        .nav-link:hover .fa{
            transform:rotate(360deg);
        }
</style>
<body>
    <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; position: fixed;"> 
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" > 
            <svg class="bi me-2" width="40" height="32"> </svg> 
            <span class="fs-4" style="margin-bottom: 30px; margin-top: 15px;">Dashboard</span> 
        </a> <hr>
         <ul class="nav nav-pills flex-column mb-auto"> 
             <li class="nav-item" style="margin-bottom: 25px;"> <a href="{% url 'dashboard:dash' %}" class="{% block active %}nav-link active{% endblock active %}" aria-current="page">
                  <i class="fa fa-home"></i><span class="ms-2">Home</span> </a> 
                </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:product-list' %}" class="{% block product %}nav-link text-white{% endblock product %}"> <i class="fa fa-first-order"></i><span class="ms-2">Producs</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:categorie-list' %}" class="{% block categorie %}nav-link text-white{% endblock categorie %}"> <i class="fa fa-cog"></i><span class="ms-2">Categories</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:order-list' %}" class="{% block order %}nav-link text-white{% endblock order %}"> <i class="fa fa-bookmark"></i><span class="ms-2">Orders</span> </a> </li> 
             {% if request.user.is_staff %}
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:customer-list' %}" class="{% block customer %}nav-link text-white{% endblock customer %}"> <i class="fa fa-bookmark"></i><span class="ms-2">Cutomers</span> </a> </li> 
            {% endif %}
         </ul> <hr> 
         <div class="dropdown"> 
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> 
                <img src="{{ user.more.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2"> <strong>  {{user.username}}</strong>
            </a>
         <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1"> 
            <li><a class="dropdown-item" href="{% url 'dashboard:profile' %}">Profile</a></li> <li> <hr class="dropdown-divider"> </li> 
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li> 
         </ul> 
      </div>
      </div>
      <div style=" margin-left: 260px; height: 100%;">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block type %} {% endblock type %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                {% block url %} {% endblock url %}
              </div>
            </div>
        </div>
        
          
        {% include 'messages.html' %}
        {% block dash %}
        <div class="row row-cols-1  row-cols-md-3 g-4" style="margin-left: 10px;">
        
                  
            <div class="col" style="border-radius: 50px;">
              <div class="card h-100 " style="width: 25em;">
                <div class="card-body">
                  <h1 class="card-title">Confirmed Orders</h5>
                    <hr>
                  <h3 class="card-text">{{orders}}</h3>
          
                  <a href="{% url 'dashboard:order-list'%}"><button class="btn btn-primary">view</button></a>
                  
                </div>
              </div>
            </div>
            <div class="col" style="border-radius: 50px;">
                <div class="card h-100 " style="width: 25em;">
                  <div class="card-body">
                    <h1 class="card-title">Total Categories</h5>
                      <hr>
                    <h3 class="card-text">{{categories}}</h3>
            
                    <a href="#"><button class="btn btn-primary">view</button></a>
                    
                  </div>
                </div>
              </div>
              <div class="col" style="border-radius: 50px;">
                <div class="card h-100 " style="width: 25em;">
                  <div class="card-body">
                    <h1 class="card-title">Total Products</h5>
                      <hr>
                    <h3 class="card-text">{{products}}</h3>
            
                    <a href="#"><button class="btn btn-primary">view</button></a>
                    
                  </div>
                </div>
              </div>
        
              <div class="col" style="border-radius: 50px;">
                <div class="card h-100 " style="width: 25em;">
                  <div class="card-body">
                    <h1 class="card-title">Total Customers</h5>
                      <hr>
                    <h3 class="card-text">{{customers}}</h3>
            
                    <a href="#"><button class="btn btn-primary">view</button></a>
                    
                  </div>
                </div>
              </div>
          
          </div>

          <style type="text/css">
            .why_ .box {
             text-align: center;
             margin-top: 45px;
             padding: 20px 100px;
             border-radius: 5px;
             background-color: #ffffff;
          }
          </style>
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
               
                              <h4 class="card-title mb-4">Line Chart</h4>

                              <!--
                              <div class="row text-center">
                                  <div class="col-4">
                                      <h5 class="mb-0">86541</h5>
                                      <p class="text-muted text-truncate">Activated</p>
                                  </div>
                                  <div class="col-4">
                                      <h5 class="mb-0">2541</h5>
                                      <p class="text-muted text-truncate">Pending</p>
                                  </div>
                                  <div class="col-4">
                                      <h5 class="mb-0">102030</h5>
                                      <p class="text-muted text-truncate">Deactivated</p>
                                  </div>
                              </div>
               -->
                              <canvas id="pie"></canvas>
               
                          </div>
                      </div>
                  </div> <!-- end col -->
               
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
               
                              <h4 class="card-title mb-4">Bar Chart</h4>
               
                              
               
                              <canvas id="bar-chart"></canvas>
               
                          </div>
                      </div>
                  </div> <!-- end col -->
               </div> <!-- end row -->
          
          
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <script>
          
          //pie chart
          
          var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
          ];
          
          new Chart("pie", {
            type: "pie",
            data: {
              labels: {{ labels|safe }},
              datasets: [{
                backgroundColor: barColors,
                data: {{ data|safe }},
              }]
            },
            options: {
              title: {
                display: true,
                text: "Products Price"
              }
            }
          });
          
          // bar chart
          var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
          var yValues = [55, 49, 44, 24, 15];
          var barColors = ["red", "green","blue","orange","brown"];

          new Chart("bar-chart", {
            type: "bar",
            data: {
              labels: {{ labels_2|safe }},
              datasets: [{
                backgroundColor: barColors,
                data: {{ data_2|safe }},
              }]
            },
            options: {
              legend: {display: false},
              title: {
                display: true,
                text: "Orders by Total price"
              }
            }
          });
            </script>
        {% endblock dash %}
      </div>
      



</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</html>



</html>