<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}  </title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        body{
            background-color:#eee;
        }

        .nav-link:hover{
            background-color:#525252 !important;
        }

        .nav-link .fa{
            transition:all 1s;
        }

        .nav-link:hover .fa{
            transform:rotate(360deg);
        }
</style>
<body>
    <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; position: fixed;"> 
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" > 
            <svg class="bi me-2" width="40" height="32"> </svg> 
            <span class="fs-4" style="margin-bottom: 30px; margin-top: 15px;">Dashboard</span> 
        </a> <hr>
         <ul class="nav nav-pills flex-column mb-auto"> 
             <li class="nav-item" style="margin-bottom: 25px;"> <a href="{% url 'dashboard:dash' %}" class="nav-link active" aria-current="page">
                  <i class="fa fa-home"></i><span class="ms-2">Home</span> </a> 
                </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:pie-chart' %}" class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2">Chart</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:product-list' %}" class="nav-link text-white"> <i class="fa fa-first-order"></i><span class="ms-2">Producs</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:categorie-list' %}" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Categories</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:order-list' %}" class="nav-link text-white"> <i class="fa fa-bookmark"></i><span class="ms-2">Orders</span> </a> </li> 
             <li style="margin-bottom: 25px;"> <a href="{% url 'dashboard:customer-list' %}" class="nav-link text-white"> <i class="fa fa-bookmark"></i><span class="ms-2">Cutomers</span> </a> </li> 

         </ul> <hr> 
         <div class="dropdown"> 
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> 
                <img src="{{ profile.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> {{user.username}} </strong>
            </a>
         <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1"> 
            <li><a class="dropdown-item" href="{% url 'dashboard:profile' %}">Profile</a></li> <li> <hr class="dropdown-divider"> </li> 
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li> 
         </ul> 
      </div>
      </div>
      <div style=" margin-left: 260px; height: 100%;">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block type %} {% endblock type %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                {% block url %} {% endblock url %}
              </div>
            </div>
        </div>
        
          
        {% include 'messages.html' %}
         {% block dash %}

         {% endblock dash %}
      </div>
      



</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</html>



</html>