{% extends 'shop_home.html' %}
{% load static %}


{% block content %}
<div class="heading_container heading_center">
  <h2>
      Products <span>Cart</span>
  </h2>
</div>

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="{% url 'shop:product-list'%}" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have {{cart.get_total_items}} items in your cart</p>
                  </div>
                  
                </div>


                {% for p in items %}
      
                  {% csrf_token %}

        
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{ p.product.product_image.url}}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{p.product.name}}</h5>
                          <p class="small mb-0">{{p.product.description}}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="margin-right: 5px;">
                          <button data-product="{{p.product.id}}" data-action="add" type="click" class="update-cart btn btn-success"> add</button>
                          <button data-product="{{p.product.id}}" data-action="remove" type="click" class="remove-cart btn btn-warning"> remove</button>
                          <a href="{{ p.product.get_delete_from_cart_url }}" >
                            <button class="btn btn-danger"> delete</button>
                           </a> 
                        </div>
                        
                        <div style="width: 80px;">
                          <h5 class="total_price">${{p.get_total}}</h5>
                        </div>
                        <div style="width: 50px;">
                          <h5 class="quantity fw-normal mb-0">{{p.quantity}}</h5>
                        </div>
                        
                        
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}
              </div>
              <div class="col-lg-5">

                <div class="card text-white rounded-3" style="background-color: #f7444e;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>
                      
                    </div>

                    <p class="small mb-2">Card type</p>
                   

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total</p>
                      <p id="cart_total" class=" mb-2">$ {{cart.get_cart_total}}</p>
                    </div>
                  
                  <a href="{% url 'shop:order-create'%}">
                    <button type="button" class="btn btn-secondary btn-block btn-lg">
                      Confirm Order
                    </button>
                  </a>
                
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const user = '{{request.user}}'	
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue; 
}
const csrftoken = getCookie('csrftoken');
</script>
<script src="{% static 'products/js/cart.js' %}"></script>

{% endblock content %}

