{% extends 'account/home_page.html' %}
{% load static %}

{% block content %}
<a href="{% url 'products:order-create'%}">confirm order</a>

{% if request.user.is_manager%}

<a href="{% url 'products:product-create'%}">Create product</a><br>
{% endif %}
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Customers also purchased</h2>
      {% for p in products %}
      <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="{{ p.product_image.url}}" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="{% url 'products:product-detail' p.slug%}">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{p.id}}
                  {{p.name}}
                </a>

              </h3>
              <p class="mt-1 text-sm text-gray-500">Black</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$35</p>

          </div>
          <div class="quantity">{{p.quantity}}</div>
{{var1}}

        </div>
        <button data-product="{{p.slug}}" data-action="add" class="update-cart">          Add to cart        </button>

        <a href="{{ p.get_add_to_cart_url }}" >
        </a>

        {% endfor %}

      </div>
    </div>
  </div>

  


{% for p in products %}

    {{p.name}}
    <a href="{% url 'products:product-detail' p.pk%}">view</a>

    <br>
{% endfor %}
<script>
  const user = '{{request.user}}'	
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
<script src="{% static 'products/js/cart.js' %}"></script>

{% endblock content %}

