{% extends 'account/home_page.html' %}


{% block content %}

{{products.name}}<br>
{{products.description}}<br>
{{products.date_added}}<br>
{{products.categorie}}<br>
{% if request.user.is_manager%}
<a href="{% url 'products:product-delete' products.pk%}"> delete</a>
<a href="{% url 'products:product-update' products.pk%}"> update</a>

<a href="{{ products.get_add_to_cart_url }}" >
    Add to cart
  </a>
  
  <a href="{{ products.get_delete_from_cart_url }}" >
    dellete from cart
  </a>
{% endif %}


{% endblock content %}
